/*
this App should be a positioned ancestor
of its descendents. So: position: relative
*/
.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding-bottom: 5px;

  display: grid;
  grid-template-rows: 70px 1fr 15px;
}
