/*
现在要做的是两栏排布
two columns (left, right)
可以用：flex, float, position三种方式来实现，
这里试一试position
*/
.main {
    position: relative;
    /*限定左右排布的范围在Main内部*/
    display: grid;
    grid-template-columns: 380px 1fr;
}

.left-side {
    border: 1px solid red;
}

.right-side {
    border: 1px solid red;
}
