.sat-setting {
    width: 100%;
    text-align: left;
    padding: 10px 10px 0 15px;
            /*top bottom left right*/
    background: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/*居中显示按钮*/
/*上下居中按钮文字*/
.show-nearby {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sat-setting .ant-form-item {
    margin-bottom: 12px;
}
