.map-box {
    position: relative;
    height: inherit;
    widows: inherit;
}

/*overlap map and track*/
.map, .track{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.track {
    z-index: 1;
}

.map {
    z-index: -1; /*default is -1*/
}

.spinner {
    position: absolute;
    top: 300px;
    left: 650px;
}

.hint {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
